#vshop-products {
  width: 60%;
  display: inline-block;
  position: relative;
}

#vshop-cart {
  width: 35%;
  position: relative;
  display: inline-block;
  margin-left: 50px;
}

#vshop-products-list {
  display: block;
  position: relative;
  min-height: 300px;
  top: 0;
  background: #222;
  padding: 0;
}

.vshop-product-list-item {
  width: calc(33.33% - 25px);
  min-width: 200px;
  background: #fff;
  box-shadow: 0px 10px 10px -10px rgba(0,0,0,0.25);
  display: inline-block;
  margin: 12.5px;
  position: relative;
  color: #333;
  line-height: 1;
  overflow: hidden;
}

.vshop-product-list-image {
  width: 100%;
  padding-top: 100%;
  background: green;
  position: relative;
  margin: 0 auto;
}

.vshop-product-list-image img {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.vshop-product-list-name {
  height: 36px;
  padding: 12.5px;
  display: flex;
  align-items: center;
  justify-content: left;
}

.vshop-product-list-name h3 {
  margin-bottom: 0;
  display: block;
  position: relative;
}

.vshop-product-list-row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.vshop-product-list-price {
  margin-left: 12.5px;
  width: calc(50%);
  display: inline-block;
}

.vshop-product-list-btn {
  margin-right: 12.5px;
  display: inline-block;
  width: calc(50%);
}