#vshop-header,
#vshop-footer {
  color: #111;
  height: 100px;
  background: #fff;
  box-shadow: 0px 10px 10px -10px rgba(0,0,0,0.25);
  width: 100vw;
  display: flex;
  align-items: center;
}

#vshop-footer {
  position: fixed;
  height: unset;
  bottom: 0;
  justify-content: center;
  box-shadow: 0px -10px 10px -10px rgba(0,0,0,0.25);
}

#vshop-logo {
  height: 100px;
  width: auto;
}

#vshop-main {
  display: block;
  width: 100%;
  height: auto;
  position: relative;
}

#vshop-main-view {
  padding: 50px;
  display: flex;
  position: relative;
  align-items: top;
}

.vshop-shelf-container {
  width: 60%;
  display: inline-block;
  position: relative;
}

.vshop-sidebar {
  width: 35%;
  position: relative;
  display: inline-block;
  margin-left: 50px;
}