body {
  color: #fff;
  background: #151515;
}

.vshop-header {
  color: #111;
  height: 100px;
  background: #fff;
  box-shadow: 0px 10px 10px -10px rgba(0,0,0,0.25);
  width: 100vw;
}

.vshop-logo {
  height: 100px;
  width: auto;
}

.vshop-main {
  padding: 50px;
  display: block;
  position: relative;
}

.vshop-products,
.vshop-cart {
  width: 65%;
  display: inline-block;
}

.vshop-cart {
  width: 35%;
}

.vshop-products-list,
.vshop-cart-list {
  display: block;
  position: relative;
  min-height: 300px;
  top: 0;
  background: #222;
}

.vshop-products-list {
  margin-right: 50px;
}