#vshop-filters {
  color: #fff;
  width: 100%;
  display: inline-block;
  margin-bottom: 50px;
}

#vshop-filters-list {
  padding: 12.5px 12.5px 25px 12.5px;
  display: block;
  list-style: none;
  position: relative;
  top: 0;
  background: #222;
}

#vshop-filters-list ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

#vshop-filters-list h3 {
  position: relative;
  padding-right: 60px;
  margin: 25px auto 12.5px auto;
}

#vshop-filters-list h3:nth-of-type(1) {
  margin-top: 12.5px;
}

#vshop-filters-list span {
  color: cyan;
  float: right;
  top: 0;
  position: absolute;
  right: 0;
}